<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Cuidamos a tus pequeños como a nuestros propios hijos!</h2>
                <hr class="light">
                <h2 class="section-heading">We take care of your little ones as well as our own children!</h2>
                <hr class="light">
                <p class="text-faded">Lunes a Viernes 6am - 6pm</p>
                <p class="text-faded">Monday to Friday - 6pm</p>
                <!--<a href="#" class="btn btn-default btn-xl">Get Started!</a>-->
            </div>
        </div>
    </div>
</section>
