<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Sobre Nosotros</h2>
                <hr class="light">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h4 class="section-heading">Un ambiente agradable y familiar para que tu pequeño se sienta como en casa!</h4>
                <p class="text-faded">Lunes a Viernes 6am - 6pm <br> Monday to Friday 6am - 6pm </p>

                <!--<a href="#" class="btn btn-default btn-xl">Get Started!</a>-->
            </div>
        </div>
    </div>
</section>
